/.cache
/.github
/goce
/data

/coverage.out

/Makefile
/Dockerfile
/LICENCE.md
/README.md
/.env.example
/goce.example.toml
/compose.yaml

/ui/node_modules
/ui/dist
/ui/logs
/ui/*.log
/ui/pnpm-debug.log*
/ui/.env
