:global(.theme-light) {
  --logoColor: #00acd7;

  --backgroundColor: #f7f7f7;
  --textColor: #efefef;
  --buttonColor: #338eca;
  --buttonColorHover: #007acc;
  --buttonColorFocus: #256e9e;

  --editorBackgroundColor: #ffffff;
  --editorTextColor: #111111;

  --statusBarIdle: #007acc;
  --statusBarError: #cc6633;
  --statusBarTextColor: #f1f1f1;
}

:global(.theme-dark) {
  --logoColor: #a8a8a8;

  --backgroundColor: #2d2d2d;
  --textColor: #c7c7c7;
  --buttonColor: #3d3d3d;
  --buttonColorHover: #4b4b4b;
  --buttonColorFocus: #6e6e6e;

  --editorBackgroundColor: #1e1e1e;
  --editorTextColor: #d6d6d6;

  --statusBarIdle: #007acc;
  --statusBarError: #cc6633;
  --statusBarTextColor: #f1f1f1;
}

$logoColor: var(--logoColor);

$backgroundColor: var(--backgroundColor);
$textColor: var(--textColor);
$buttonColor: var(--buttonColor);
$buttonColorHover: var(--buttonColorHover);
$buttonColorFocus: var(--buttonColorFocus);

$editorBackgroundColor: var(--editorBackgroundColor);
$editorTextColor: var(--editorTextColor);

$statusBarIdle: var(--statusBarIdle);
$statusBarError: var(--statusBarError);
$statusBarTextColor: var(--statusBarTextColor);