@use './reset.scss';
@use './fonts.scss';

@forward './fonts.scss';

:global(.theme-light) {
  --colorScheme: light;

  --logoColor: #00acd7;

  --backgroundColor: #f7f7f7;
  --backgroundColorHighlight: #cfcfcf;

  --textColor: #efefef;
  --textColorInverted: #4e4e4e;

  --buttonColor: #00add8;
  --buttonColorHover: #5dc9e2;
  --buttonColorFocus: #028bad;

  --editorBackgroundColor: #ffffff;
  --editorTextColor: #111111;

  --statusBarIdle: #00add8;
  --statusBarError: #cc6633;
  --statusBarTextColor: #f1f1f1;
}

:global(.theme-dark) {
  --colorScheme: dark;

  --logoColor: #a8a8a8;

  --backgroundColor: #2d2d2d;
  --backgroundColorHighlight: #4b4b4b;

  --textColor: #c7c7c7;
  --textColorInverted: #505050;

  --buttonColor: #3d3d3d;
  --buttonColorHover: #4b4b4b;
  --buttonColorFocus: #6e6e6e;

  --editorBackgroundColor: #1e1e1e;
  --editorTextColor: #d6d6d6;

  --statusBarIdle: #2d2d2d;
  --statusBarError: #cc6633;
  --statusBarTextColor: #c7c7c7;
}

$colorScheme: var(--colorScheme);

$logoColor: var(--logoColor);

$backgroundColor: var(--backgroundColor);
$backgroundColorHighlight: var(--backgroundColorHighlight);

$textColor: var(--textColor);
$textColorInverted: var(--textColorInverted);

$buttonColor: var(--buttonColor);
$buttonColorHover: var(--buttonColorHover);
$buttonColorFocus: var(--buttonColorFocus);

$editorBackgroundColor: var(--editorBackgroundColor);
$editorTextColor: var(--editorTextColor);

$statusBarIdle: var(--statusBarIdle);
$statusBarError: var(--statusBarError);
$statusBarTextColor: var(--statusBarTextColor);

body {
  font-size: 14px;
  @include fonts.font(text);
  input,
  textarea {
    font-size: 14px;
    @include fonts.font(text);
  }
}
